html{
    margin: 0;
    width: 100%;
}
body{
    display: block;
    margin: 0;
    width:100%;
}

.container{
    position: relative;
    /*background-image: url('../image/nba_main.png');  /*改背景圖片地方*/
    /*background-size: 100% 100%;*/
    width: 100%;
    height: 100%;
    height: 1200px; /*板面太小，用1400會過大，footer會太下面*/
}

/*header所有元件*/
header{
    position: relative;
    width:100%;
    height: 70px;
}
.column_background{
    position: fixed;
    width:100%;
    height: 70px;
    background-color: #085394;
    z-index: 3;
}
header ul{
    position: fixed;
    right:18%;
    z-index: 3;
}
header ul li{
    display: inline-block;
    margin-right: 100px;
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    font-family: "Microsoft JhengHei";
    font-weight: bolder;
    color: white;
}
header ul a li:hover{
    color: red;
}
#logo{
    position: fixed;
    width: 200px;
    height: 70px;
    z-index: 3;
}
#fb{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 15%;
    top: 1%;
    z-index: 3;
}
#ig{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 10%;
    top: 1%;
    z-index: 3;
}
#youtube{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 5%;
    top: 1%;
    z-index: 3;
}


/*Home_Screen*/
.Home_Screen{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    height: 400;
}

.title{
    position: absolute;
    height: 150px;
    top: 0%;
    left: 24%;
}

.title h1{
    font-family: "Arial","Microsoft JhengHei";
    margin:0;
    font-size: 50px;
    font-weight: bolder;
}

.title_img {
    margin-right: 400px;
    margin-top: 0px;
    float:right;
    height:100px;
}

#cpbl { 
    width: 99px;
    height: 51px;
}

#nba {
    width: 40px;
    height: 60px;
}

#mlb {
    width: 83px;
    height: 44px;
}

#sbl {
    width: 116px;
    height: 34px;
}

.word{
    position: absolute;
    color: white;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    top: 75%;
    left: 24%;
    width: 840;
    height: 100;
    z-index: 2;
}
.word p a{
    text-decoration: none;
    color:white;
}
.word p a:hover{
    color:orange;
}
.column_word{
    position: absolute;
    background-color: black;
    top: 78%;
    left: 23%;
    width: 880px;
    height: 150;
    opacity: 0.5;
    z-index: 1;
}
.main_news_img img{
    position: absolute;
    top: 15%;
    left: 23%;
    width: 880px;
    height: 400px;

}

/*news_block*/
.news_block{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    height:500px;
}
.news_block_1{
    position: absolute;
    background-color: #eeeeee;
    left: 23%;
    top: 20%;
    width: 880;
    height: 155;
}
.news_block_2{
    position: absolute;
    background-color: #eeeeee;
    left: 23%;
    top: 57%;
    width: 880;
    height: 155;
}
.news_block_3{
    position: absolute;
    background-color: #eeeeee;
    left: 23%;
    top: 93%;
    width: 880;
    height: 155;
}
.time{
    position: absolute;
    font-size: 20px;
    margin-top: 38px;
    left: 4%;;
}
.news_img img{
    position: absolute;
    left: 18%;
    margin-top: 20px;
    width: 200;
    height: 114;
}
.news_contact{
    position: absolute;
    left: 46%;
    margin-top: 0px;
    width: 450;
    font-family: "Microsoft JhengHei";
    font-size: 16px;
}
.news_contact p{
    font-family: 'Microsoft JhengHei';
    margin-top: 5;
}
.news_contact p a{
    font-family: "Arial";
    text-decoration: none;
}
.news_contact p a:hover{
    color: rgba(0, 162, 255, 0.568);
}
.news_contact a h3{
    font-family: 'Microsoft JhengHei';
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bolder;
    color: #2b78e4;
}
.news_contact a{
    text-decoration: none;
}  /*消除標題底線*/
.news_contact{
    position: absolute;
}
.change_page {
    position: absolute;
    font-family: 'Arial';
    font-size: 20px;
    top: 130%;
    left: 38%;
}
.change_page a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}/*消除標題底線*/
.change_page a:hover{
    color: rgba(0, 162, 255, 0.568);
}


footer{
    /* position: absolute; */
    width:100%;
    height: 130px;
    /* top: 200%; */
    background-color: #cccccc;
}


