html{
    margin: 0;
    width: 100%;
}
body{
    display: block;
    margin: 0;
    width:100%;
}

.container{
    position: relative;
    /*background-image: url('../image/nba_main.png');  /*改背景圖片地方*/
    /*background-size: 100% 100%;*/
    width: 100%;
    height: 100%;
    height: 1400px;
}

/*header所有元件*/
header{
    position: relative;
    width:100%;
    height: 70px;
}
.column_background{
    position: fixed;
    width:100%;
    height: 70px;
    background-color: #085394;
    z-index: 3;
}
header ul{
    position: fixed;
    right:18%;
    z-index: 3;
}
header ul li{
    display: inline-block;
    margin-right: 100px;
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    font-family: "Microsoft JhengHei";
    font-weight: bolder;
    color: white;
}
header ul a li:hover{
    color: red;
}
#logo{
    position: fixed;
    width: 200px;
    height: 70px;
    z-index: 3;
}
#fb{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 15%;
    top: 1%;
    z-index: 3;
}
#ig{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 10%;
    top: 1%;
    z-index: 3;
}
#youtube{
    position: fixed;
    width: 48px;
    height: 48px;
    right: 5%;
    top: 1%;
    z-index: 3;
}
/******************************************/

.item_title{
    margin-left: auto;
    margin-right: auto; 
    width: 850;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Arial","Microsoft JhengHei";
    font-size: 50px;
    font-weight: bolder;
    
}
.image{
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: 500px;
    margin-bottom: 10px;
}
.image img{
    position: absolute;
    left: 15%;
    width: 888px;
    height:500;
}

.title{
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}


.word{
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}
h6{
    margin-top: -10px;
    float: right;
}